<header class="site-header">
  <div class="container site-header-inner">
    <div class="brand">
      <div class="brand-mark">GH</div>
      <div>
        <h1 class="brand-title">GymHelper</h1>
        <p class="brand-subtitle">ЛР1: статика через Nest + шаблоны MVC</p>
      </div>
    </div>

    {{> menu}}
    {{> session-info}}
  </div>
</header>
