<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageTitle}}</title>
    {{> shared-assets}}
  </head>
  <body class="lab-body">
    {{> header}}
    <main class="content-shell">
      <div class="container">
        {{{body}}}
      </div>
    </main>
    {{> footer}}
  </body>
</html>
